<a href="https://colab.research.google.com/github/harishmuh/machine_learning_practices/blob/main/Fundamental_Python_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamental Python**

## **Variable**

In [1]:
# Creating variable one by one
name = 'Jessica'
height = 168
weight = 62
is_student = True

In [42]:
# Creating variable one by one
# We can also include the data type
name: str = 'Jessica'
height: int = 168
weight: float = 62
is_student: bool = True

print(f'Name: {name}, data type {type(name)}')
print(f'Height: {height}, data type {type(height)}')
print(f'Weight: {weight}, data type {type(weight)}')
print(f'Is student: {is_student}, data type {type(is_student)}')

Name: Jessica, data type <class 'str'>
Height: 168, data type <class 'int'>
Weight: 62, data type <class 'int'>
Is student: True, data type <class 'bool'>

In [3]:
# Creating variable with unpacking
name, height, weight, is_student = 'Jessica', 168, 62, True

print(name, height, weight, is_student)

Jessica 168 62 True

In [43]:
# Switching variable value
x = 15
y = x
x = 22

print(f'The values of x and y are {x} dan {y}')

The values of x and y are 22 dan 15

In [12]:
# Switching variable value
a = 3
b = (a != 3)
print(b)

False

In [44]:
# String variables
street = "125 Main Street"
print("The address of the book shop is " + "street")
print("The address of the book shop is " + street)

The address of the book shop is street
The address of the book shop is 125 Main Street

In [45]:
# String variables
str = "His shirt is red"
pos = str.find("is")
print(pos) # Output is the position of the first

1

In [49]:
# String method
# What is the value of s1 after the following code executes?

s1 = "heY"
s1 = s1.capitalize()
s1.lower()

print(s1) # output: Hey

Hey

In [50]:
# String
# What is the value of s1 after the following code executes?
s = "python is awesome"
print(s[2] + s[-5])

te

In [52]:
# String method
# What is the value of s1 after the following code executes?
animal = "dog"
print("animal" + animal)

animaldog

In [4]:
# Guess game
a = b = c= d= 10

d, e, f = 20, 30, 40

g = h = i = 7

# Print
print(a,b,c,d) # output 10 10 10 10
print(d, e, f) # output 20 30 40
print(g, h, i, sep='-') # 7-7-7

10 10 10 20
20 30 40
7-7-7

In [60]:
# String method
# What is the value of s1 after the following code executes?
a = 3
b = (a != 3)
print(b)

False

## **Mathematical operations**

In [5]:
# Mathematical operations
a = 10
b = 5

# Addition
result_addition = a + b
print('The result of addition:', result_addition) # output 15

# Subtraction
result_subtraction = a - b
print('The result of substraction:', result_subtraction) # output 5

# Multiplication
result_multiplication = a * b
print('The result of multipication:', result_multiplication) # output 50

# Division
result_division = a / b
print('The result of division:', result_division) # output 2.0 # Float

# Modulus
result_modulus = a % b
print('The result of modulus:', result_modulus) # output 0

# Exponentiation
result_exponentiation = a ** b
print('The result of exponentiation:', result_exponentiation) # output 100000


# Floor division
result_floor_division = a // b
print('The result of floor division', result_floor_division) # output 2

The result of addition: 15
The result of substraction: 5
The result of multipication: 50
The result of division: 2.0
The result of modulus: 0
The result of exponentiation: 100000
The result of floor division 2

In [6]:
# Logical operator

# AND
print('Logical operator (AND):')
print(True and True) # output True
print(True and False) # output False
print(False and True) # output False
print(False and False) # output False


# OR
print('Logical operator (OR):')
print(True or True) # output True
print(True or False) # output True
print(False or True) # output True
print(False or False) # output False

# NOT
print('Logical operator (NOT):')
print(not True) # output False
print(not False) # output True

Logical operator (AND):
True
False
False
False
Logical operator (OR):
True
True
True
False
Logical operator (NOT):
False
True

## **Data Structure**

**List**

In [7]:
# Initiating empty list

empty_list = []
print(empty_list) # output []

[]

In [8]:
# Initiating list with elements
list_number = [1, 2, 3, 4, 5]
print(list_number) # output [1, 2, 3, 4, 5]

list_fruits = ['apple', 'banana', 'orange']
print(list_fruits) # output ['apple', 'banana', 'orange']

mixed_list = [1, 'apple', 3.14, True]
print(mixed_list) # output [1, 'apple', 3.14, True]

[1, 2, 3, 4, 5]
['apple', 'banana', 'orange']
[1, 'apple', 3.14, True]

In [9]:
# List from string
text = 'Hi, I am Devina from Indonesia'
list_text = text.split()
print(list_text) # output ['Hi,', 'I', 'am', 'Devina', 'from', 'Indonesia']

['Hi,', 'I', 'am', 'Devina', 'from', 'Indonesia']

In [10]:
# Membership operator
list_example = [1, 2, 3, 4, 5]

print('1 in list_example?', 1 in list_example) # output True
print('6 in list_example?', 6 in list_example) # output False
print('1 not in list_example?', 1 not in list_example) # output False

1 in list_example? True
6 in list_example? False
1 not in list_example? False

In [11]:
# Built-in function
number = [5, 2, 8, 3, 6]

# The minimum value
min_number = min(number)
print('The minimum value:', min_number) # output 2

# The maximum value
max_number = max(number)
print('The maximum value:', max_number) # output 8

The minimum value: 2
The maximum value: 8

In [15]:
# List within list
alist = [3, 67, "cat", [56, 57, "dog"], [ ], 3.14, False]
def slice_exercise():
    alist = [3, 67, "cat", [56, 57, "dog"], [ ], 3.14, False]
    print(alist[2:4])
print(alist[2:4])

['cat', [56, 57, 'dog']]

In [12]:
# Indexing for nested list

list_example = [['Campus', 'x', 'ITB'], ['Batch', 2]]
print('index 0,0:', list_example[0][0]) # output 'Campus'
print('index 1,0:', list_example[1][0]) # output 'Batch'
print('index 1,1:', list_example[1][1]) # output 2

index 0,0: Campus
index 1,0: Batch
index 1,1: 2

In [13]:
# Slicing list
List = ['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

print(List[1:]) # Index 1 to end
print(List[-12]) # Index -12 to end
print(List[:4]) # Index 0 to 3
print(List[3:9]) # output ['K', 'S', 'F', 'O', 'R', 'G']
print(List[:-7]) # output

['E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
E
['G', 'E', 'E', 'K']
['K', 'S', 'F', 'O', 'R', 'G']
['G', 'E', 'E', 'K', 'S', 'F']

In [14]:
# Slicing list [intial: end: Index jump/step]

# Displaying the result of index 1,3,7,9 # Step 2
print(List[1:10:2]) # Step 2
print(List[1:10:3]) # Step 3
print(List[1:10:4]) # step 4

['E', 'K', 'F', 'R', 'E']
['E', 'S', 'R']
['E', 'F', 'E']

In [15]:
# Reverse List
print(List[::-1]) # output

['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [64]:
# List comperhension

# list numbers
list_comp = [i for i in range(0,10,1)]
print(list_comp) # output 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

# Squared numbers
list_comp_squared = [i**2 for i in range(0,10,1)]
print(list_comp_squared) # output

# Even numbers
list_comp_if = [i for i in range(0,10,1) if i % 2 == 0]
print(list_comp_if) # output

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [14]:
# What will be the following code print?

def mystery(num_list):
    index = 0
    while index < len(num_list):
        num = num_list[index]
        print(f'The num is {num}')
        print(f'The index is {index}')
        if num == 0:
            num_list.pop(index)
        index += 1

list1 = [3, 0, 2, 0, 0]
mystery(list1)
print(list1)

The num is 3
The index is 0
The num is 0
The index is 1
The num is 0
The index is 2
[3, 2, 0]

In [10]:
# What will be the following code print?

def mystery(num_list):
    sum = 0
    for i in range(0, len(num_list), 2):
        num = num_list[i]
        sum += num
        return sum

list1 = [1, 2, 3, 4, 5]
print(mystery(list1))

1

In [11]:
# What will the content of the list in 'Blist'
alist = [4, 2, 8, 6, 5]
blist = [alist] * 2
alist[3] = 999

print(blist)

[[4, 2, 8, 999, 5], [4, 2, 8, 999, 5]]

**Tuple**

In [5]:
# Sorting tuple
tup = ('30', '3', '2', '8')
print(sorted(tup))

# This returns a list with the strings sorted in ascending order.

['2', '3', '30', '8']

In [16]:
# Indexing for tuple

list_example = [['Campus', 'x', 'ITB'], ['Batch', 2]]

# Changing list to tuple
tuple_example = (list_example)
print('index 0,0:', tuple_example[0][0]) # output 'Campus'
print('index 1,0:', tuple_example[1][0]) # output 'Batch'
print('index 1,1:', tuple_example[1][1]) # output 2

index 0,0: Campus
index 1,0: Batch
index 1,1: 2

**Set**

In [17]:
# Set
# Union, intersection, difference
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Union
union_set = set1.union(set2)
print('Union set:', union_set) # output

# Intersection
intersection_set = set1.intersection(set2)
print('Intersection set:', intersection_set) # output

# Difference
# Difference(): returns the difference of two or more sets as new set
difference_set = set1.difference(set2)
print('Difference set:', difference_set) # output

Union set: {1, 2, 3, 4, 5, 6, 7}
Intersection set: {3, 4, 5}
Difference set: {1, 2}

**Dictionary**

In [65]:
# A dictionary contains key and value
course = {'Monday': 'math', 'Tuesday': 'physics', 'Wednesday': 'chemistry'}
print(course) # output

{'Monday': 'math', 'Tuesday': 'physics', 'Wednesday': 'chemistry'}

In [66]:
# items
course.items()

dict_items([('Monday', 'math'), ('Tuesday', 'physics'), ('Wednesday', 'chemistry')])

In [68]:
# Course on monday?
course['Monday']

'math'

In [69]:
# Get value
course.get('Monday')

'math'

In [71]:
# Get value
course.get('Friday') # Nothing happen # No course on friday

In [6]:
# Displaying keys and values
data = {
    'name':'Yamato',
    'gender': 'male'
}


for key in data:
    print(key,data[key])

name Yamato
gender male

In [7]:
# Counting alphabets of a sentence
phrase = "Cheese in Philadelphia is extraordinary according to Erik"

counter = 0
letters = {}
for word in phrase.split():
    for letter in word:
        letter = letter.lower()
        #print(letter)
        if letter not in letters.keys():
            letters[letter] = 0
            #print(letters[letter])
        letters[letter] += 1
for key in letters.keys():
    print(key, letters[key])
    if letters[key] > 2:
        counter += 1


print(counter)

c 3
h 3
e 6
s 2
i 7
n 3
p 2
l 2
a 5
d 3
x 1
t 2
r 5
o 3
y 1
g 1
k 1
9

In [8]:
# What order do the keys print in after the following code is run?
counts = {'annie' : 42, 'chuck' : 1, 'jan' : 100}
items = counts.items()
sorted(items, key = lambda t: t[1])
for item in items:
    print(item[0])

# This will print the keys in their current order since sorted returns a new list

annie
chuck
jan

In [9]:
# What order do the keys print in after the following code is run?
counts = {'annie' : 42, 'chuck' : 1, 'jan' : 100}
items = counts.items()
out = sorted(items, key = lambda t: t[1])
for item in out:
    print(item[0])

chuck
annie
jan

## **Conditional**

In [55]:
# Conditional statement (If)
x = -10
if x < 0:
    print("The negative number ",  x, " is not valid here.")
print("This is always printed")

The negative number  -10  is not valid here.
This is always printed

In [53]:
# Conditional statement (If, Else)
if 4 + 5 == 10:
    print("TRUE")
else:
    print("FALSE")
print("TRUE")

FALSE
TRUE

In [56]:
# Conditional statement (If, If)
x = 3
if (x > 2):
    x = x * 2
if (x > 4):
    x = 0
print(x)

0

In [59]:
# Conditional statement (if, if, if)
weight = 0.5
numItems = 5
if weight < 1:
    price = 1.45
if weight >= 1:
    price = 1.15
total = weight * price
if numItems >= 10:
    total = total * 0.9
print(f'The weight is {weight} kg')
print(f'The price is USD {price}')
print(f'The total price is USD {total}')

The weight is 0.5 kg
The price is USD 1.45
The total price is USD 0.725

## **Control Flow**

**For Loop**

In [18]:
# For loop
# Iteration
planets = ['Mercury', 'Venus', 'Mars', 'Earth']
for planet in planets:
  print(planet, end=' ') # Print all on the same line

Mercury Venus Mars Earth

In [27]:
for i in range(1,5):
    sum = 0
    sum = sum + i
    print(f'The value of sum is: {sum}')

The value of sum is: 1
The value of sum is: 2
The value of sum is: 3
The value of sum is: 4

In [26]:
# For loop
sum = 0
values = [1,3,5,7]
for number in values:
    sum = sum + number
print(sum)

16

In [28]:
# For loop
# range
for i in range(5): # Numbers until 5
  print("*" * 5)
  print("Doing crucial work. i =", i)

*****
Doing crucial work. i = 0
*****
Doing crucial work. i = 1
*****
Doing crucial work. i = 2
*****
Doing crucial work. i = 3
*****
Doing crucial work. i = 4

In [63]:
# For loop
# Iteration
car = ['honda', 'BMW', 'Tesla']
manufacturer = ['Japan', 'Germany', 'USA']

for i in range(len(car)):
    print(f'{car[i]} is from {manufacturer[i]}')

honda is from Japan
BMW is from Germany
Tesla is from USA

In [20]:
# For loop
# Enumerate
for i, val in enumerate(range(10)):
  print('index =', i, 'values =', val)

index = 0 values = 0
index = 1 values = 1
index = 2 values = 2
index = 3 values = 3
index = 4 values = 4
index = 5 values = 5
index = 6 values = 6
index = 7 values = 7
index = 8 values = 8
index = 9 values = 9

In [21]:
# For Loop # Enumerate
areas = [11.5, 18, 20, 20.5, 8.5, 9.7]

# Change for loop to use enumerate() and update print()
for index, area in enumerate(areas):
  print('Room', str(index), ': ', str(area))

Room 0 :  11.5
Room 1 :  18
Room 2 :  20
Room 3 :  20.5
Room 4 :  8.5
Room 5 :  9.7

In [25]:
# What is the result of executing the following code?
number = 0
while number <= 10:
    print(f'Currently, the number is {number}')
    number = number + 1

Currently, the number is 0
Currently, the number is 1
Currently, the number is 2
Currently, the number is 3
Currently, the number is 4
Currently, the number is 5
Currently, the number is 6
Currently, the number is 7
Currently, the number is 8
Currently, the number is 9
Currently, the number is 10

In [2]:
# For Loop
# How many asterisks will be printed when the following code executes?
for x in [0, 1, 2, 3]:
    for y in [0, 1, 2, 3, 4]:
        print(f'value of x = {x} and value of y = {y} continue to display asteriks(*)') # 20 asteriks(*)

value of x = 0 and value of y = 0 continue to display asteriks(*)
value of x = 0 and value of y = 1 continue to display asteriks(*)
value of x = 0 and value of y = 2 continue to display asteriks(*)
value of x = 0 and value of y = 3 continue to display asteriks(*)
value of x = 0 and value of y = 4 continue to display asteriks(*)
value of x = 1 and value of y = 0 continue to display asteriks(*)
value of x = 1 and value of y = 1 continue to display asteriks(*)
value of x = 1 and value of y = 2 continue to display asteriks(*)
value of x = 1 and value of y = 3 continue to display asteriks(*)
value of x = 1 and value of y = 4 continue to display asteriks(*)
value of x = 2 and value of y = 0 continue to display asteriks(*)
value of x = 2 and value of y = 1 continue to display asteriks(*)
value of x = 2 and value of y = 2 continue to display asteriks(*)
value of x = 2 and value of y = 3 continue to display asteriks(*)
value of x = 2 and value of y = 4 continue to display asteriks(*)
value of x = 3 and value of y = 0 continue to display asteriks(*)
value of x = 3 and value of y = 1 continue to display asteriks(*)
value of x = 3 and value of y = 2 continue to display asteriks(*)
value of x = 3 and value of y = 3 continue to display asteriks(*)
value of x = 3 and value of y = 4 continue to display asteriks(*)

In [3]:
# For Loop
out = ""
for i in range(2):
    for j in range(2):
        out += "i: " + str(i) + " j:" + str(j) + ", "
print(out)

i: 0 j:0, i: 0 j:1, i: 1 j:0, i: 1 j:1,

In [4]:
# For Loop
l1 = [1, 2]
l2 = [3, 4]
out = []
for val1 in l1:
    for val2 in l2:
        out.append(val1 + val2)
print(out)

[4, 5, 5, 6]

In [22]:
# While Loop
i = 0
while i < 10:
  print(i, end=' ') # Printed in the same line
  i += 1

0 1 2 3 4 5 6 7 8 9

In [30]:
# While loop
lives = 5

meals = {
    'carrot':'healthy',
    'cheeseburger': 'unhealthy',
    'pizza': 'unhealthy',
    'milk': 'healthy',
    'spinach': 'healthy'
}
ix = 0
meals_left = len(meals)
while lives > 0:
    meals_left = meals_left - 1
    if meals[list(meals.keys())[ix]] == 'unhealthy':
        lives = lives - 3
    lives = lives - 1
    print(f'How many lives remaining? {lives}')
    print(f'How many meals_left? {meals_left}')

print(meals_left)

How many lives remaining? 4
How many meals_left? 4
How many lives remaining? 3
How many meals_left? 3
How many lives remaining? 2
How many meals_left? 2
How many lives remaining? 1
How many meals_left? 1
How many lives remaining? 0
How many meals_left? 0
0

In [31]:
# While
counter = 1
sum = 0

print(f'Initial counter -> {counter}')
print(f'Initial sum -> {sum}')
while counter <= 6:
    sum = sum + counter
    counter = counter + 2
    print(f'counter (after) -> {counter}')
    print(f'sum (after) -> {sum}')
    print('nice!')
print(sum)

Initial counter -> 1
Initial sum -> 0
counter (after) -> 3
sum (after) -> 1
nice!
counter (after) -> 5
sum (after) -> 4
nice!
counter (after) -> 7
sum (after) -> 9
nice!
9

**Function**

**Built-in function**

A built-in function is a function that is already provided by Python and is always available for use — no need to import any module to use it.

Some example of built-in function in python consist of print(), len(), filter(), type(), sum(), max(), input(), etc.

In [23]:
# Using 'sum' Built-in function
numbers = [10, 20, 30]
total = sum(numbers)     # 'sum()' is a Built-in function
print("Total:", total)

Total: 60

**User-defined function**

A user-defined function in Python is a function that you create yourself to perform a specific task. Unlike built-in functions (like print(), len(), or sum()), user-defined functions are written by the programmer to organize and reuse code.

In [24]:
# Creating a user-defined function
def add_numbers(x,y):
  '''
  This function adds two numbers and returns the result.
  '''
  result = x + y
  return result

In [25]:
# Testing the add_number function
add_numbers(10,5)

15

In [26]:
# Creating function with return
def add_numbers(x,y):
  '''
  This function adds two numbers and returns the result.
  '''
  result = x + y
  return result

result = add_numbers(10,5)
print(result) # Output 15

15

In [27]:
# Creating function (without 'return')

def add_numbers(x,y):
  '''
  This function adds two numbers and returns the result.
  '''
  result = x + y

result = add_numbers(10,5)
print(result) # Output None

None

In [28]:
# Creating function with default argument
def greet(name, age = 29):
  print(f'Hello, {name}. You are {age} years old')

In [29]:
# Testing the function
greet('Nova') # It will display the default number

Hello, Nova. You are 29 years old

In [30]:
# Testing the function # But adding argument
greet('Jessica', 20)

Hello, Jessica. You are 20 years old

In [37]:
# Creating a function for calculation

def calculate_area(radius):
  '''
  This function calculates the area of a circle.
  '''
  import math
  circle_area = round(math.pi * (radius ** 2),2)
  return circle_area

# Implementation
print(calculate_area(7))

153.94

In [16]:
# Function to transform a string file

def transform_string(word):
    if len(word) <= 5:
        new_letters = word[1:3].upper()
        if new_letters[0] == new_letters[1]:
            print(new_letters)
        else:
            print("Letters don't match.")
    else:
        new_chars = word[-3:]
        print(new_chars)
    print('Done.')

In [17]:
# Implementation
transform_string('green')
transform_string('door')
transform_string('mountains')

Letters don't match.
Done.
OO
Done.
ins
Done.

**Lambda function**

A lambda function in Python is an anonymous function defined using the 'lambda' keyword. Why do you use Lambda? To keep code compact and readable. It’s typically used for short, simple operations, especially when used as an argument in functions like map(), filter(), or sorted().

In [31]:
# A Lambda funtion to add 5 to a number
add_five = lambda x: x + 5

print(add_five(10)) # Output: 15

15

In [32]:
#  Lambda with map() to square numbers
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2, numbers))

print(squared) # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**Recursive functions**

A recursive function is a function that calls itself in order to solve a smaller version of the original problem. It usually includes:

* Base case – the stopping condition.

* Recursive case – where the function calls itself.

In [33]:
# Recursive functions
# Creating factorial function
def factorial(n):
  # Base case
  if n == 0 or n == 1:
    return 1
  else: # recursive call
    return n * factorial(n-1)
    # 5 * 4
    # 5 * 4 * 3
    # 5 * 4 * 3 * 2 *
    # 5 * 4 * 3 * 2 * 1

In [34]:
# Factorial function Implementation
print(factorial(5))  # Output: 120
print(factorial(0))  # Output: 1

120
1

## **Global VS Local Variables**

In [35]:
# Displaying local vs global variable

# Define global variable
global_var = 'global' # global variable is declared outside functions

def print_func():
  local_var = 'local' # local variable only can be declared inside functions
  print('global variable inside function:', global_var)
  print('local variable inside function:', local_var)

print_func()
print('global variable outside function:', global_var)
#print('local variable outside function:', local_var) # output: Name Error

global variable inside function: global
local variable inside function: local
global variable outside function: global