<a href="https://colab.research.google.com/github/harishmuh/machine_learning_practices/blob/main/Python__Introduction_for_Machine_Learning_and_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Lets start !

In [1]:
# Print
print("Hello World")

Hello World

# Creating variabel

In [3]:
a = 1
b = 1.0
print(a)
print(b)

1
1.0

In [4]:
# Checking Data type
type(a)

float

In [ ]:
# Checking data type
type(b)

In [5]:
a = a + 1
print(a)

2

It will change the value of (a) variable because of overwriting process

# Some data types

## String

In [6]:
text = "AbcDeF"

text_dot3 = '''

bisapakaienter

cekkk'''
print(text)
print(text_dot3)

AbcDeF


bisapakaienter

cekkk

In [7]:
# Checking data type
type(text)

str

## List

In [8]:
# List using square bracket '[]'
# List can receive different type of data
list_example = ['A', 1, 'B', 2, 3]
type(list_example)

list

In [9]:
# Displaying list content
print(list_example)

['A', 1, 'B', 2, 3]

In [10]:
# Calling the first member of the list # Indexing in Python starts from zero
list_example[0]

'A'

In [11]:
# Calling the third member of the list
list_example[2]

'B'

In [12]:
# Calling the last member of the list # Indexing from the last starts from (-1)
list_example[-1]

3

In [ ]:
# Calling the non existent index in list
list_example[5] # Error, because its outside the range of index

IndexError: ignored

Adding data into the list

In [13]:
# We are adding a new member/new data to list
list_example.append(20)

In [14]:
# Now our list has new member '20'
list_example

['A', 1, 'B', 2, 3, 20]

In [15]:
# We can access the index
list_example[5]

20

In [16]:
# We can delete the last member of the list
list_example.pop()

20

In [17]:
# Now our list members
list_example

['A', 1, 'B', 2, 3]

## Dictionary

In [26]:
# Dictionary is also immutable

# Dictionary Contains keys and values

# Creating dictionary
daftar_belanja = {
    'baju':75000,
    'celana':125000,
    'topi':25000
}

In [27]:
# We can access the value of dictionary by mentioning the key
daftar_belanja['baju']

75000

In [28]:
# We can access all keys using dictionary_name.keys()
daftar_belanja.keys()

dict_keys(['baju', 'celana', 'topi'])

In [29]:
# We can access all values using dictionary_name.values()
daftar_belanja.values()

dict_values([75000, 125000, 25000])

In [30]:
# We can access all keys and values using dictionary_name.items()
daftar_belanja.items() # The result is tuple which is immutable

dict_items([('baju', 75000), ('celana', 125000), ('topi', 25000)])

In [31]:
# We can update the value of our dictionary
daftar_belanja['topi'] = 35000

# The updated dictionary
daftar_belanja

{'baju': 75000, 'celana': 125000, 'topi': 35000}

# Method and Function

In [34]:
# Method and function
# Custom function using 'def'
# We can define a function to calculate the area ('luas') and the circumference ('keliling') of rectangle ('persegi')
# We can use the length ('panjang') and width ('lebar') parameters
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    print(f"luas persegi : {luas}")
    print(f"Keliling persegi : {keliling}")
    return luas, keliling

In [35]:
# Testing the function
# parameter length = 10 and width = 3
luas_keliling(10, 3)

luas persegi : 30
Keliling persegi : 26

(30, 26)

In [36]:
# We can even place a value in new variable
# parameter length = 20 and width = 6
luasA, kelilingA = luas_keliling(20, 6)

luas persegi : 120
Keliling persegi : 52

In [37]:
# Print the result
print(luasA, kelilingA)

120 52

# Looping
# For automating operations

In [38]:
# For loop
# We can make a continous series of number using 'range'
for x in range(1,10): #Start at 1 # End before 10
  print(x)

1
2
3
4
5
6
7
8
9

In [39]:
# We can also configure the steps
for x in range(0,10,2): #Start at 0, #End before 10, #step by 2
  print(x)

0
2
4
6
8

In [40]:
# The range automatically start from 0
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [41]:
# We can customize the output
for x in range(1,10):
  print(x*2) # x value is multipy by 2

2
4
6
8
10
12
14
16
18

In [42]:
# We can use if conditonal
for x in range(1,30):
  if x%3 == 0: # Only print the x modulus 3 that equals to 0
    print(x)

3
6
9
12
15
18
21
24
27

In [46]:
# Nested loops
for i in range(1,10): #(1,2,3,4,5,6,7,8,9)
  for j in range(1,5): #(1,2,3,4)
    print(i*j)
    #print(i)
    #print(j)

1
2
3
4
2
4
6
8
3
6
9
12
4
8
12
16
5
10
15
20
6
12
18
24
7
14
21
28
8
16
24
32
9
18
27
36

In [47]:
# We can also continously print the data inside list
list_students = ['Andi', 'Budi', 'Cahyo', 'Doni']

for student in list_students:
    print('student name:', student)

student name: Andi
student name: Budi
student name: Cahyo
student name: Doni

In [48]:
# We can make a list from dictionary
daftar_belanja

{'baju': 75000, 'celana': 125000, 'topi': 35000}

In [49]:
# list comperhension

belanja = ['baju', 'celana', 'topi', 'baju']

# We can make a list using list comperhension method
harga = [daftar_belanja[x] for x in belanja]
harga

[75000, 125000, 35000, 75000]

In [50]:
# We can calculate all items inside the list
total_belanja = sum(harga)
total_belanja

310000

# Creating Dataframe

*Make sure to upload dataset before continuing the task

In [52]:
# Importing Pandas library for creating data frame and data manipulation inside data frame
import pandas as pd

In [53]:
# Loading the data and read into dataframe
df = pd.read_csv("sample_data/california_housing_train.csv")

Reviewing the top rows of the dataframe

In [54]:
# Quick review from  the first 5 rows of the dataframe (from above)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [55]:
# Quick review from  the last 5 rows of the dataframe (from below)
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [56]:
# How many rows and columns
df.shape #17000 rows #9 columns

(17000, 9)

In [58]:
# What are the column names in the dataframe?
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [59]:
# What are the type of data of all columns
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Dataset info

In [60]:
# Dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [61]:
# Dataframe statistical descriptive # Numeric columns only
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000